/* Change the font */
body {
	font-family: Arial;
}

/* Customize the table */
table {
	text-align: center;
	margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#header {
  background-color: lightblue;
}

/* Create borders for table */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Change align of h2 headers */
h2 {
	text-align: left;
}

/* Centered the header */
.center{
	text-align: center;
}

/* Use FlexBox to create two columns and customize*/
.container {
  display: flex;
  align-items: center;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

/* Customize the image */
img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

/* Use the flex to space circles and rectangles evenly */
#decoration {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

/* Customize circle */
circle {
  opacity: 50%;
  fill: seagreen;
}

/* Change the border of circle when mouse hovers over */
circle:hover {
  stroke: lightcoral;
  stroke-width: 10px;
}

/* Customize rectangle */
rect {
  stroke: lightblue;
  stroke-width: 8px;
  fill: lightsalmon;
}

/* Change the color of rectangle when mouse hovers over */
rect:hover {
  fill: lightcoral;
}
